@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border border-box;
}

body {
  color: black;
  background: #E0E4E5;
}

img{
	width: 100%;

}

header{
	background: black;
	display: flex;
	align-items: flex-end;

}

nav{
	background: #efb810;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: left;
}

nav ul li a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 10px 25px;
	display: block;
	font-family: 'Anton', sans-serif;
}

nav ul li a:hover{
	background: #BF46FF;
}

article{
	display: flex;
	text-align: center;
	padding-bottom: 150px;

	}

footer{
	width: 100%;
	background: #161515;
	color: white;

}

section {
	width: 100%;
	margin-bottom: 25px;
}

.logo{
	width: 40%;

}

.heaNavega{
	width: 70%;
	text-align: right;

}

.logo img{
	width: 35%;
	padding: 10px 20px;
}

.heaNavega a{
	color: white;
	text-decoration: none;
	padding: 0 20px;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
}

.heaNavega a:hover{
	color: #BF46FF;

}

.titulo{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	background: #333;
	color: white;
}


@media (min-width:1024px) {
	.contenedor {
		width: 1000px;
	}
}

#info {
	background: #333;
	color: #fff;
	text-align: center;
}

#info .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-pet {
	margin: 20px;
}
.info-pet h4{
	color: white;
	
}

.info-pet img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}

@media (min-width:480px) {
	.info-pet {
		width: 40%;
	}
}

@media (min-width:1024px) {
	.info-pet {
		width: auto;
	}
}

.contenedor{
    width: 100%;
    overflow: hidden;
    display: block;
    color: black;
    font-family: 'Open Sans', sans-serif;

}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-image: url('../iconos/slider 2.jpg');
    background-size: 100%;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}
.contenido-slider h1{
	font-size: 50px;
}
.contenido-slider h2{
	font-size: 20px;

}
.contenido-slider:nth-child(2){
    background: #333;
    background-image: url('../iconos/mision-vision.jpg');
    background-size: 100%;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contenido-slider:nth-child(3){
    background: #333;
    background-image: url('../iconos/BT1-HEADER-CANT-WFH.png');
    background-size: 100%;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.contenido-slider:nth-child(4){
    background: #333;
}

.contenido-slider > img{
    width: 400px;

}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h1{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}



.caption {
  position: absolute;
  top: 50%;
  left: 8rem;
  z-index: 9;
  transform: translateY(-50%);
  opacity: 0;
  transition: 500ms ease opacity, 500ms ease transform;
  transform: translateY(60px);
}
.caption.current-caption {
  transition-delay: 1000ms;
  opacity: 1;
  transform: translateY(0);
}
.caption.previous-caption {
  transform: translateY(-60px);
}
.caption .caption-heading {
  transition: 500ms ease-in all;
}
.caption .caption-heading h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-indent: -0.2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.caption .caption-subhead {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  word-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  display: block;
}
.caption a.btn {
  color: #333;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 9;
  transition: 250ms ease-in background-color, 500ms ease-in color;
}
.caption a.btn:hover {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #2C302E;
  display: flex;
  position: relative;
}

.left-col, .right-col {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.left-col {
  background-size: cover;
  background-postion: center top;
  overflow: hidden;
  margin: 2rem;
  position: relative;
}
.left-col .slide {
  filter: grayscale(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left top !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1000ms cubic-bezier(1, 0.04, 0.355, 1) transform, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
  transform: translateY(-100%);
  scale: 1;
  z-index: -1;
}
.left-col .slide.previous {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: 3s ease transform;
  will-change: transform;
}
.left-col .slide.previous.change {
  transform: translateY(50%);
}
.left-col .slide.next {
  transform: translateY(-100%);
  z-index: 3;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.left-col .slide.current {
  opacity: 1;
  transform: translateY(0) scale(1.25);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.right-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-col .preview {
  max-width: 400px;
}

.nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
}
.nav a {
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.nav:hover .slide-up, .nav:hover .slide-down {
  opacity: 0.5;
  transform: translateX(0);
}
.nav .slide-up, .nav .slide-down {
  display: block;
  position: absolute;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: 0.25s ease opacity, 0.25s ease transform;
  z-index: 99;
}
.nav .slide-up:hover, .nav .slide-down:hover {
  opacity: 1;
}
.nav .slide-up a, .nav .slide-down a {
  text-decoration: none;
  font-weight: 300 !important;
}
.nav .slide-up {
  top: 50%;
  left: 0;
  transform: translateX(-100%);
}
.nav .slide-down {
  top: 50%;
  right: 0;
  transform: translateX(100%);
}

/*BOOTSTRAP*/

.container2 {
	margin-top: 3%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container2 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container2 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container2 {
    width: 1170px;
  }
}
.container2-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row2 {
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

/*shop*/
.shop_top{
	padding:5% 0;
}
.new-box {
	right:10px;
}
.new-box, .sale-box {
	position: absolute;
	top:16px;
	overflow: hidden;
	height: 38px;
	min-width: 70px;
	text-align: left;
	z-index: 0;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.new-label {
	font-size: 0.85em;
	color: #FFF;
	background:#FFAF02;
	text-transform: uppercase;
	padding:9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
.sale-box {
	left:10px;
}
.sale-label {
	font-size: 0.85em;
	color: #FFF;
	background:#E92546;
	text-transform: uppercase;
	padding:9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.shop_box{
	position:relative;
}
.shop_desc{
	border:1px solid #E0E0E0;
	padding:5%;
}
.shop_desc h3{
	margin-bottom:5px;
}
.shop_desc h3 a{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
.shop_desc h3 a:hover{
	color:#666;
}
.shop_desc p{
	color:#555;
	font-size:0.8125em;
	line-height:1.8em;
	margin-bottom:10px;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 8%;
	color: #888;
}
span.actual {
	color: #7DB122;
	font-size: 1em;
	color:#000
}
ul.buttons{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.cart{
	float:left;
}
.shop_btn{
	float:right;
}
.shop_btn a, .cart a{
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration:none;
}
.shop_btn a:hover{
	color:#E92546;
}
.cart a:hover{
	color:#FFAF02;
}
.shop_box-top{
	margin-bottom:5%;
}
h3.m_2 {
	color: #555;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: -1px;
	padding:0 1%;
	text-transform: uppercase;
}
h4.m_5{
	margin-top:7%;
}
h4.m_5 a{
	color: #555;
	font-size:0.95em;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-decoration:none;
}
h4.m_5 a:hover{
	color:#000;
}
p.m_6{
	font-size:0.85em;
	color: #555;
	line-height: 1.5em;
}
.team_box{
	margin-bottom:5%;
}
ul.team_list{
	padding:0;
	list-style:none;
}
ul.team_list h4{
	color: #555;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
ul.team_list li {
	list-style-image: url(../images/marker.png);
	margin: 0 0px 20px 15px;
}
ul.team_list li a {
	font-size: 0.85em;
	color: #222;
	text-transform: uppercase;
	text-decoration:none;
}
ul.team_list li a:hover {
	color:#444;
}
ul.team_list li p{
	color:#888;
	font-size:0.85em;
	line-height:1.5em;
}
p.m_7{
	color:#888;
	font-size:0.85em;
	line-height:1.5em;
	margin-bottom:2%;
}
.img_section{
	position:relative;
}
.img_section_txt {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background:rgba(5, 5, 5, 0.43);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 14px 10px 14px 21px;
	color: #FFF;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.magnifier2:hover .img_section_txt {
	background:rgba(255, 0, 0, 0.36);
}
.ex_box{
	margin-bottom:5%;
}
p.m_8{
	color:#333;
	font-size:0.85em;
	line-height:1.8em;
	margin-bottom:5%;
}
.address p {
	font-size:0.85em;
	line-height:2em;
}
.address p span:hover {
	text-decoration: none;
}
.address p span {
	text-decoration: underline;
	color: #555;
	cursor: pointer;
}
.contact{
	margin-top: 5%;
}
.to{
	float:left;
	width:50%;
}
.to input[type="text"] {
	padding: 10px;
	width:95%;
	font-size: 0.85em;
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0;
	border: none;
	color: #888;
	background:#F8F8F8;
	float: left;
	outline: none;
	border:1px solid #DFE0E2;
}
.to input[type="text"]:hover, .text input[type="text"], .text textarea:hover{
	border-color:#E25050;
}
.text {
	width:50%;
	float:left;
}
.text input[type="text"], .text textarea {
	width:100%;
	font-size: 0.85em;
	margin: 10px 0;
	border: none;
	color: #888;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	background:#F8F8F8;
	height: 100px;
	padding: 10px;
	resize: none;
	border:1px solid #DFE0E2;
}
.form-submit{
	float:right;
}
.form-submit input[type="submit"] {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
	font-weight: normal;
	padding:15px 40px;
	text-transform: uppercase;
	background:#E25050;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 100;
	border: none;
	cursor: pointer;
	outline:none;
}
.form-submit input[type="submit"]:hover {
	background:#333;
}

p.m_8{
	color:black;
	font-size:0.85em;
	line-height:1.8em;
	margin-bottom:5%;
}

.address p {
	font-size:0.85em;
	line-height:2em;
}
.address p span:hover {
	text-decoration: none;
}
.address p span {
	text-decoration: underline;
	color: #555;
	cursor: pointer;
}
.contact{
	margin-top: 5%;
}

.container-footer-all{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	margin-top: 20%;

}

.container-body{
	display: flex;
	justify-content: space-between;

}

.colum1{
	width: 400px;

}

.colum h1{
	font-size: 20px;
}

.colum1 p{
	font-size: 14px;
	color: #C7C7C7;
	margin-top: 20px;

}

.colum2{
	max-width: 400px;
}

.colum2 h1{
	font-size: 22px;

}

.colum2 .row{
	margin-top: 20px;
	display: flex;
}

.row img{
	width: 35px;
	height: 36px;
}

.row label{
	margin-top: 10px;
	margin-left: 10px;
	color: #C7C7C7;

}

.colum3{
	max-width: 400px;
}

.colum3 h1{
	font-size: 20px;

}

.row2{
	margin-top: 20px;
	display: flex;


}

.row2 img{
	width: 35px;
	height: 35px;

}

.row2 label{
	margin-left: 20px;
	margin-top: 10px;
	max-width: 140px;

}

.container-footer{
	max-width: 100%;
	background: #000000;
	justify-content: space-between;

}

.footer{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;


}

.copyright{
	color: #C7C7C7;

}

.copyright a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	
}

.terminos a{
	text-decoration: none;
	color: #C7C7C7;

}
